.container {
  text-align: center;
  display: flex;
  align-items: center;
  

  :global {
    .carousel.carousel-slider {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .slide {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.arrow {
  cursor: pointer;
  font-size: 2.75rem;
}

.quote-icon {
  background-color: #a9975d;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0;
  svg, path {
    fill: white;
  }
}


.quoteIconWrap {
  width: 150px;    
  height: 150px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  padding: 2rem;
  margin-right: 5%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #a9975d;
  border-radius: 50%;
}

.slide-content {
  color: #4d4f53;

  p {
    line-height: 1.4;
  }
  p:only-child {
    margin-bottom: 0;
  }
}



.testimonials {
  background-color: var(--color-primary);
  background-image: url("/static/cal-poly-campus-mustang-way-students-biking-walking.jpg");
  background-size: cover;
  background-position: center;
  padding: 15rem 0;

  .description {
    margin-bottom: 6rem;
  }
}

.testimonial {
    max-width: 75%;
  margin: 0 auto;
  padding: 5rem;
  background-color: white;
  p {text-align: left !important;}
}