@import 'styles/Variables';

.footer {
  position: relative;
  background: #222;
  padding: 6rem 0 0 0;
  color: var(--color-white);

  p {
    @media screen and (max-width: 767px) {
      font-size: 1.5rem !important;
    }
  }

   .footerWrap {
    max-width: 1200px; 
  }

  a {
    color: var(--color-white);
    text-decoration: underline;
    transition: all .4s;

    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }

  h3 {
    color: #999;
    font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-top: 0 !important;
    @media screen and (max-width: 767px) {
      font-size: 2.2rem;
    }
  }

  .footer-nav-contact-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
    }

    @media screen and (max-width: 455px) {
      flex-direction: column;
      .contact-info {align-items: flex-start !important;}
    }

    .about, .resources, .footer-nav, .contact-info {
      li {
        @media screen and (max-width: 767px) {
          line-height: 2.3rem;
          margin-bottom: 0;
        }
      }
      h3 {
        margin-top: 2rem;
        @media screen and (max-width: 767px) {
        }
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      color: #999;
      // p {font-size: 1.4rem;}
      @media (min-width: $breakpoint-small) {
      }

      .cppText {
        padding: 1.6rem 0 .75rem 0;
        font-family: "utopia-std-display", serif;
        font-weight: 500;
        font-size: 2.75rem;
        position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 8rem;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
          }


        @media screen and (max-width: 767px) {
          font-size: 1.8rem;
        }
      }
      a {
        text-decoration: none;
      }
      p {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2.5rem;
      }
      .phone {
        margin: 2rem 0 0 0 ;
        line-height: 1;
        font-size: 1.4rem;
        font-weight: 600;
        color: #999;
        @media screen and (max-width: 767px) {
          font-size: 1.8rem;
        }
      }
    }

  }
}

.social-links {
  display: flex;
  margin-bottom: 0rem;
  @media screen and (max-width: 767px) {
  }

  ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
  }

  li {
    margin: 0;

    &:last-child {
      a {padding-right: 0;}
    }
  }

  .social-icon-link {
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: .75rem;
    vertical-align: middle;
    font-size:2.75rem;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;

    .social-icon {
      color: var(--color-white);
      vertical-align: middle;
      transition: color 0.1s ease-in-out;
    }

  }
}

.nav-one, .nav-two, .logo-address, .copyright {

    @media (min-width: $breakpoint-small)  {
      margin-top: 4rem;
    }

    p {
      color: white;
    }
}

.nav-one {
  text-transform: uppercase;
      text-decoration-color: $gold !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all .4s;
    font-weight: 600;
    a {font-weight: 600 !important;}
}

.nav-two {
  font-weight: 300;
}


.nav-one, .nav-two {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1rem;
  @media (min-width: $breakpoint-small) { 
      margin-left: 7.2rem;
  }
    @media screen and (max-width: 767px) {
      margin-top: 2rem;
      line-height: 2.3rem;
      margin-bottom: 0;
      li {margin-bottom: 0 !important;}
    }
}

.logo-address {
  font-family: "utopia-std-subhead", serif;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    margin: 1.5rem 0;
    flex-direction: column;
    align-items: flex-start;
  }


  .cp-links {
   margin: 0; 
  }

  p, a {
    margin: 0;
    text-decoration: none;
    font-size: 2rem;
    @media screen and (max-width: 767px) {
    }
  }

  img {
    max-width: 250px;
    height: auto;
  }
}

.quick {
  @media screen and (max-width: 767px) {
    margin-bottom: 2rem;
  }
}

.nav, .quick {
  display: flex;
  margin-right: auto;


  ul {
    display: flex;
    flex-direction: column;
    // align-items: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $breakpoint-small) {
      // flex-direction: row;
    }
    flex-wrap: wrap;
    width: 100%;
  }

  li {
    margin: 0;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-small) {
      // margin-right: 2rem;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    a {
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.logoNav {
    margin: 2rem 0 4rem 0;
  }
}

.quick ul {
  flex-direction: column;
  line-height: 2.75rem;
}

.copyright {
  padding: 1.5rem 0;
  background-color: #000;
  color: #73747D;
  font-weight: 400;
  margin-top: 3rem;
  @media (min-width: $breakpoint-small) { 
  }
  a {
    font-weight: 400;
    color: #73747D;
    text-decoration: none;
  }
}
