@import 'styles/Variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-top: 5rem;
  // line-height: normal;
  border-top: 1px solid #a9975d;
  margin-bottom: 3rem;
  text-align: left !important;
}

.author {
  // text-transform: uppercase;
  font-size: 1.65rem;
  text-align: left;
  width: 100%;
  margin: 0;
  font-style: italic;
  color: #a9975d;
}
