@import 'Variables';

// Typography Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  margin-bottom: 2rem;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 6.9rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

h1.postTitle {
  font-size: 3.5rem;
  color: var(--color-primary);
  text-transform: capitalize;
  letter-spacing: normal;
  margin: 5rem 0 3rem 0;
}

h2 {
  font-size: 3.25rem !important;
  line-height: 3.75rem;
  color: var(--color-primary);
  margin: 0 0 2.25rem 0 !important;
  // letter-spacing: .24rem;
  text-transform: uppercase;
  font-family: "abolition", sans-serif;
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-style: normal;
  // text-align: center;

  // @media (min-width: $breakpoint-small) {
  //   font-size: 6rem;
  //   line-height: 6.5rem;
  // }
}

h3 {
  font-weight: 400;
  color: var(--color-primary);
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-family: "abolition", sans-serif;
  letter-spacing: .24rem;
  margin: 3rem 0 2rem 0;
}

h4 {
  font-size: 2.2rem;
  line-height: 125%;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

p {
  margin-bottom: 2rem;
  margin-top: 0;
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 3rem;
  @media (min-width: $breakpoint-small) {
    font-size: 1.9rem;
    line-height: 3.2rem;
  }
}

// Links
a {
  color: var(--color-black);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gold {
  color: $gold;
}


.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.wp-block-columns {
      margin: 10rem 0 !important;
      gap: 25px;
}

p.intro {
  color: #4d4f53;
  font-size: 2.5rem;
  font-family: "Karla", Helvetica, Arial, Lucida, sans-serif;
  // letter-spacing: .01px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10rem;
  line-height: 1.45;
}

h2.intro {
  // color: pink !important;
  text-align: center;
  font-size: 5rem !important;
  padding-bottom: 1rem;
  border-bottom: solid 1px #a9975d;
}

.wp-block-media-text {
  margin: 5rem 0;
  p {
    // font-size: 1.8rem;
    margin: 0 0 3rem 0;
    color: #4d4f53;
    font-weight: 500;
    line-height: 1.45;
  }
}



@media (min-width: $breakpoint-small) {
.wp-block-media-text {
  .wp-block-media-text__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* Media then content (content is RIGHT) */
  &:has(> .wp-block-media-text__media + .wp-block-media-text__content) {
    .wp-block-media-text__content {
      padding-left: 3rem !important;
      padding-right: 0 !important;
    }
  }

  /* Content then media (content is LEFT) */
  &:has(> .wp-block-media-text__content + .wp-block-media-text__media) {
    .wp-block-media-text__content {
      padding-left: 0 !important;
      padding-right: 3rem !important;
    }
  }
}

  }
