@import 'Variables';

// Typography Module
// ––––––––––––––––––––––––––––––––––––––––––––––––––

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  // letter-spacing: .2rem;
  margin-bottom: 2rem;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: "abolition", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  @media (min-width: $breakpoint-small) {
    font-size: 12rem;
  }
  @media screen and (max-width: 650px) {
    font-size: 6rem;
  }
}

h1.postTitle {
  font-size: 3.5rem;
  color: var(--color-primary);
  text-transform: capitalize;
  letter-spacing: normal;
  margin: 5rem 0 3rem 0;
}

h2 {
  font-size: 5rem;
  line-height: 5.5rem;
  color: var(--color-primary);
  margin: 0 0 2.25rem 0;
  letter-spacing: .24rem;
  text-transform: uppercase;
  font-family: "abolition", sans-serif;
  font-weight: 400;
  font-style: normal;
  @media (min-width: $breakpoint-small) {
    font-size: 6rem;
    line-height: 6.5rem;
  }
}

h3 {
  font-weight: 400;
  color: var(--color-primary);
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-family: "abolition", sans-serif;
  letter-spacing: .24rem;
  margin: 3rem 0 2rem 0;
}

h4 {
  font-size: 2.2rem;
  line-height: 125%;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

p {
  margin-bottom: 2rem;
  margin-top: 0;
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 3rem;
  @media (min-width: $breakpoint-small) {
    font-size: 1.9rem;
    line-height: 3.2rem;
  }
}

// Links
a {
  color: var(--color-black);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gold {
  color: $gold;
}